<a name='post-<%= post.id %>'></a>
<tr>
  <td class='username'>
    <% if post.user.is_a?(Forem::NilUser) %>
      <%= t(:deleted) %>
    <% else %>
      <%= post.user.forem_name %>
    <% end %>
  </td>
  <td width='50%'>
    <%= forem_format(post.text).bbcode_to_html.html_safe %>
  </td>
  <td>
    <%= post_time_tag(post) %>
  </td>
  <td class='text-center'>
    <% if forem_user %>
      <div class='btn-group'>
        <% if can?(:reply, post.topic) %>
          <% if post.topic.can_be_replied_to? %>
            <!--
            <%= link_to t('reply', :scope => 'forem.topic'), forem.new_forum_topic_post_path(post.forum, post.topic, :reply_to_id => post.id), :class => "btn btn-primary" %>
            -->
            <%= link_to t('quote', :scope => 'forem.topic'), forem.new_forum_topic_post_path(post.forum, post.topic, :reply_to_id => post.id, :quote => true), :class => "btn btn-primary" %>
          <% end %>
        <% end %>
        <% if post.owner_or_admin?(forem_user) %>
          <% if can?(:edit_post, post.topic.forum) %>
            <%= link_to t('edit'), forem.edit_forum_topic_post_path(post.forum, post.topic, post), :class => "btn btn-primary" %>
          <% end %>
          <!--
          <% if can?(:destroy_post, post.topic.forum) %>
            <%= link_to t('delete', :scope => 'forem.topic'), forem.forum_topic_post_path(post.forum, post.topic, post), :method => :delete, data: { :confirm => t("are_you_sure") }, :class => "btn btn-danger" %>
          <% end %>
          -->
        <% end %>
      </div>
    <% end %>
  </td>
</tr>