<%= render :partial => 'forem/forums/head', :locals => { :forum => @topic.forum } %>

<div>
  <% if @reply_to_post %>
    <h2>Reply to Post</h2>
  <% else %>
    <h2><%= @topic.subject %></h2>
  <% end %>
</div>

<%= simple_form_for [forem, @topic.forum, @topic, @post] do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <%= f.submit t("forem.post.buttons.reply"), :class => "btn btn-primary" %>
<% end %>