<ul class="pager">
	<li class="previous">
		<%= link_to calendar_path(month: (@date << 1).month, year: (@date << 1).year) do %>
			<span class="glyphicon glyphicon-chevron-left"></span>
		<% end %>
	</li>
	<li class="next">
		<%= link_to calendar_path(month: (@date >> 1).month, year: (@date >> 1).year) do %>
			<span class="glyphicon glyphicon-chevron-right"></span>
		<% end %>
	</li>
</ul>

<div class="panel panel-primary">
	<div class="panel-heading"><%= Date::MONTHNAMES[@date.month] %>&nbsp;<%= @date.year %></div>
	<table class="table table-bordered table-condensed">
		<tr>
		<% Date::DAYNAMES.each { |day| %>
			<th class="col-xs-1"><%= day %></th>
		<% } %>	
		</tr>
		<% (@date.beginning_of_week..@date.end_of_month.end_of_week).each { |day| %>
			<% games_for_day = @games.where("date = '#{day}'") %>
			<% if day.wday == 1 %>
				<!-- New Week -->
				<tr>
			<% end %>
			
			<% if day.month != @date.month %>
				<td><!-- Not Current Month --></td>
			<% else %>
				<td>
					<div class="panel-group" id="accordion">
						<div class="panel panel-info" >
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="accordion" href='#collapse<%= "%02d" % day.day %>'>
										<%= "%02d" % day.day %>
									</a>
								</h4>
							</div>
							<div id="collapse<%= "%02d" % day.day %>" class="panel-collapse collapse">
								<div class="list-group">
									<% games_for_day.each { |game| %>

										<a class="list-group-item" data-toggle="modal" href="#boxscore<%= game.id %>"><%= game.abbreviated_description %></a>

										  <!-- Modal -->
										  <div class="modal fade" id="boxscore<%= game.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										    <div class="modal-dialog">
										      <div class="modal-content">
										        <div class="modal-header">
										          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										          <h4 class="modal-title"><%= game.long_description %></h4>
										        </div>
										        <div class="modal-body">
										          <% @file = game.dmb_file %>
										          <p><%= render "partials/boxscore", local: {file: @file} %></p>
										        </div>
										        <div class="modal-footer">
										          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
										        </div>
										      </div><!-- /.modal-content -->
										    </div><!-- /.modal-dialog -->
										  </div><!-- /.modal -->


										<!--<a class="list-group-item" data-toggle="modal" data-target="#boxscoreModal"><%= game.abbreviated_description %></a>

										<div class="modal fade" id="boxscoreModal" tabindex="-1" role="dialog" aria-labelledby="boxscoreModalLabel" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
														<h4 class="modal-title" id="boxscoreModalLabel">Title</h4>
													</div>
													<div class="modal-body">
														<p>Enter boxscore here</p>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
													</div>
												</div>
											</div>
										</div>-->
									<% } %>							
								</div>
							</div>
						</div>
					</div>
				</td>
			<% end %>
			
			<% if day.wday == 7 %>
				<!-- End of Week -->
				</tr>
			<% end %>
		<% } %>
	</table>
</div>