<div class='text-center'>
  <ul class='pagination pagination-sm'>
    <% @years.each { |year| %>
      <% if @year == year.to_s %><li class='active'><% else %><li><% end %>
        <%= link_to year, draft_path(year: year) %>
      </li>
    <% } %>
  </ul>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-primary">
      <div class="panel-heading">Rooke Draft</div>
      <% Draft.rounds(@year).sort.each { |round| %>
        <div class="panel panel-info">
          <div class="panel-heading">Round <%= round %></div>
          <table class='table table-bordered table-condensed'>
            <tr>
              <th class="col-sm-2">Selection</th>
              <th class="col-sm-4">Team</th>
              <th class="col-sm-4">Player</th>
              <th class="col-sm-2">Position</th>
            </tr>
            <% Draft.selections_by_round(@year, round).sort.each { |selection| %>
              <% draft_selection = Draft.draft_selection(@year, round, selection) %>
              <tr>
                <td><%= selection %></td>
                <td><%= draft_selection.team.name %></td>
                <% if "2000" == @year %>
                <td><%= draft_selection.player_id.nil? ? "***PASS***" : draft_selection.player.name%></td>
                <% else %>
                <td><%= draft_selection.player.name unless draft_selection.player_id.nil? %></td>
                <% end %>
                <td><%= draft_selection.player.position unless draft_selection.player_id.nil?%></td>
              </tr>
            <% } %>
          </table>
        </div>
      <% } %>
    </div>
  </div>
</div>