<div class="page-header">
  <h1><%= @team.name %><small>&nbsp;&nbsp;&nbsp;<%= mail_to @owner.email, @owner.name, :encode => 'javascript' %></small></h1>
</div>

<div class="tabbable" id="team-tabs">
  <ul class="nav nav-tabs">
      <li class="active"><a href="#pane1" data-toggle="tab">Contracts</a></li>
      <li><a href="#pane2" data-toggle="tab">Stats</a></li>
      <li><a href="#pane3" data-toggle="tab">History</a></li>
    </ul>
  <div class="tab-content">
      <div id="pane1" class="tab-pane active">
        <div class="row">
          <div class="col-md-12">
            <%= render 'partials/contracts', locals: {year: @year, franchise_id: @franchise_id} %>
          </div>
        </div>
      </div>
      <div id="pane2" class="tab-pane">
        <div class="row">
          <div class="col-md-12">
            <%= render 'partials/team_stats', locals: {year: @year, franchise_id: @franchise_id} %>
          </div>
        </div>
      </div>
      <div id="pane3" class="tab-pane">
        <div class="row">
          <div class="col-md-12">
            <%= render 'partials/history', locals: {franchise_id: @franchise_id} %>
          </div>
        </div>
      </div>
  </div><!-- /.tab-content -->
</div><!-- /.tabbable -->
