<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">Franchise History</div>
      <% @years.each { |year| year %>
        <div class="panel panel-info">
          <div class="panel-heading"><%= year %></div>
          <dl class="dl-horizontal">
            <dt>Team:</dt>
              <dd><%= Team.find(year, @franchise_id).name %></dd>
            
            <% stadium = Team.find(year, @franchise_id).stadium %>
            <% unless stadium.nil? %>
              <dt>Stadium:</dt>
                <dd><%= stadium %></dd>
            <% end %>

            <dt>Owner:</dt>
              <dd><%= Team.find(year, @franchise_id).owner.name %></dd>
            <dt>Record:</dt>
              <dd><%= Team.find(year, @franchise_id).standing.record %></dd>

            <% postseason = Team.find(year, @franchise_id).standing.postseason %>
            <% unless postseason.empty? %>
              <dt>Postseason:</dt>
              <% postseason.each { |accomplishment| %>
                <dd><%= accomplishment %></dd>
              <% } %>
            <% end %>
          </dl>
        </div>
      <% } %>
    </div>
  </div>
</div>