<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">Draft Picks</div>
      <div class="panel panel-info">
        <div class="panel-heading"><%= @next_draft_year %></div>
        <dl class="dl-horizontal">
          <% @current_picks.each { |pick| %>
            <dt>Round <%= pick.round %></dt>
            <dd><%= pick.original_team(@year) %></dd>
          <% } %>
        </dl>
      </div>

      <% @draft_years.each { |year| %>
        <div class="panel panel-info">
          <div class="panel-heading"><%= year %></div>
          <dl class="dl-horizontal">
            <% @draft_selections[year].each { |selection| %>
              <dt>Round <%= selection.round %></dt>
              <% if 2000 == year %>
                <dd><%= selection.player_id.nil? ? "***PASS***" : link_to(selection.player.name, player_path(id: selection.player.player_id)) %></dd>
              <% else %>
                <dd><%= link_to(selection.player.name, player_path(id: selection.player.player_id)) unless selection.player_id.nil? %></dd>
              <% end %>
            <% } %>
          </dl>
        </div>
      <% } %>

    </div>
  </div>
</div>