<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">Statistics</div>
      <div class="panel panel-info">
        <div class="panel-heading">Hitters</div>
        <div class="table-responsive">
          <table class='table table-condensed tablesorter' id='hitting-stats'>
            <thead>
              <tr>
                <th class>Player</th>
                <th class>G</th>
                <th class>AB</th>
                <th class>R</th>
                <th class>H</th>
                <th class>2B</th>
                <th class>3B</th>
                <th class>HR</th>
                <th class>RBI</th>
                <th class>BB</th>
                <th class>SO</th>
                <th class>SB</th>
                <th class>CS</th>
                <th class>AVG</th>
                <th class>OBP</th>
                <th class>SLG</th>
              </tr>
            </thead>
            <tbody>
            <% @hitter_stats.each do |stat| %>
              <tr>
                <td><%= stat.player.name %></td>
                <td><%= stat.G %></td>
                <td><%= stat.AB %></td>
                <td><%= stat.R %></td>
                <td><%= stat.H %></td>
                <td><%= stat.D %></td>
                <td><%= stat.T %></td>
                <td><%= stat.HR %></td>
                <td><%= stat.RBI %></td>
                <td><%= stat.BB %></td>
                <td><%= stat.K %></td>
                <td><%= stat.SB %></td>
                <td><%= stat.CS %></td>              
                <td><%= format_percentage_thousandths(stat.AVG) %></td>
                <td><%= format_percentage_thousandths(stat.OBP) %></td>
                <td><%= format_percentage_thousandths(stat.SLG) %></td>
              </tr>  
            <% end %>
            <% if @pitchers_as_hitters.PA > 0 %>
              <tr>
                <td><%= 'All Pitchers' %></td>
                <td><%= @pitchers_as_hitters.W + @pitchers_as_hitters.L %></td>
                <td><%= @pitchers_as_hitters.AB %></td>
                <td><%= @pitchers_as_hitters.R %></td>
                <td><%= @pitchers_as_hitters.H %></td>
                <td><%= @pitchers_as_hitters.D %></td>
                <td><%= @pitchers_as_hitters.T %></td>
                <td><%= @pitchers_as_hitters.HR %></td>
                <td><%= @pitchers_as_hitters.RBI %></td>
                <td><%= @pitchers_as_hitters.BB %></td>
                <td><%= @pitchers_as_hitters.K %></td>
                <td><%= @pitchers_as_hitters.SB %></td>
                <td><%= @pitchers_as_hitters.CS %></td>              
                <td><%= format_percentage_thousandths(@pitchers_as_hitters.AVG) %></td>
                <td><%= format_percentage_thousandths(@pitchers_as_hitters.OBP) %></td>
                <td><%= format_percentage_thousandths(@pitchers_as_hitters.SLG) %></td>
              </tr>  
            <% end %>
            </tbody>
            <tfoot>
              <tr>
                <th><%= 'Totals' %></th>
                <th><%= @hitting_totals.W + @hitting_totals.L %></th>
                <th><%= @hitting_totals.AB %></th>
                <th><%= @hitting_totals.R %></th>
                <th><%= @hitting_totals.H %></th>
                <th><%= @hitting_totals.D %></th>
                <th><%= @hitting_totals.T %></th>
                <th><%= @hitting_totals.HR %></th>
                <th><%= @hitting_totals.RBI %></th>
                <th><%= @hitting_totals.BB %></th>
                <th><%= @hitting_totals.K %></th>
                <th><%= @hitting_totals.SB %></th>
                <th><%= @hitting_totals.CS %></th>              
                <th><%= format_percentage_thousandths(@hitting_totals.AVG) %></th>
                <th><%= format_percentage_thousandths(@hitting_totals.OBP) %></th>
                <th><%= format_percentage_thousandths(@hitting_totals.SLG) %></th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">Pitchers</div>
        <div class="table-responsive">
          <table class='table table-condensed tablesorter' id='pitching-stats'>
            <thead>
              <tr>
                <th class>Player</th>
                <th class>G</th>
                <th class>IP</th>
                <th class>R</th>
                <th class>H</th>
                <th class>ER</th>
                <th class>BB</th>
                <th class>SO</th>
                <th class>HBP</th>
                <th class>W</th>
                <th class>L</th>
                <th class>SV</th>
                <th class>HLD</th>
                <th class>BS</th>
                <th class>WHIP</th>
                <th class>ERA</th>
              </tr>
            </thead>
            <tbody>
            <% @pitcher_stats.each do |stat| %>
              <tr>
                <td><%= stat.player.name %></td>
                <td><%= stat.G %></td>
                <td><%= format_innings_pitched(stat.outs) %></td>
                <td><%= stat.RA %></td>
                <td><%= stat.HA %></td>
                <td><%= stat.ER %></td>
                <td><%= stat.BBA %></td>
                <td><%= stat.KA %></td>
                <td><%= stat.HB %></td>
                <td><%= stat.W %></td>
                <td><%= stat.L %></td>
                <td><%= stat.S %></td>
                <td><%= stat.HO %></td>
                <td><%= stat.BS %></td>               
                <td><%= format_percentage_hundredths(stat.WHIP) %></td>
                <td><%= format_percentage_hundredths(stat.ERA) %></td>
              </tr>  
            <% end %>
            </tbody>
            <tfoot>
              <tr>
                <th><%= 'Totals' %></th>
                <th><%= @pitching_totals.W + @pitching_totals.L %></th>
                <th><%= format_innings_pitched(@pitching_totals.outs) %></th>
                <th><%= @pitching_totals.RA %></th>
                <th><%= @pitching_totals.HA %></th>
                <th><%= @pitching_totals.ER %></th>
                <th><%= @pitching_totals.BBA %></th>
                <th><%= @pitching_totals.KA %></th>
                <th><%= @pitching_totals.HB %></th>
                <th><%= @pitching_totals.W %></th>
                <th><%= @pitching_totals.L %></th>
                <th><%= @pitching_totals.S %></th>
                <th><%= @pitching_totals.HO %></th>
                <th><%= @pitching_totals.BS %></th>               
                <th><%= format_percentage_hundredths(@pitching_totals.WHIP) %></th>
                <th><%= format_percentage_hundredths(@pitching_totals.ERA) %></th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>