<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">Statistics</div>
      <div class="panel panel-info">
        <div class="panel-heading">Hitters</div>
        <div class="table-responsive">
          <table class='table table-condensed tablesorter' id='hitting-stats'>
            <thead>
              <tr>
                <th class>Player</th>
                <th class>G</th>
                <th class>AB</th>
                <th class>R</th>
                <th class>H</th>
                <th class>2B</th>
                <th class>3B</th>
                <th class>HR</th>
                <th class>RBI</th>
                <th class>BB</th>
                <th class>SO</th>
                <th class>SB</th>
                <th class>CS</th>
                <th class>AVG</th>
                <th class>OBP</th>
                <th class>SLG</th>
              </tr>
            </thead>
            <tbody>
            <% Statistic.hitters(@year, @franchise_id, 0).each do |stat| %>
              <tr>
                <td><%= stat.player.name %></td>
                <td><%= stat.G %></td>
                <td><%= stat.AB %></td>
                <td><%= stat.R %></td>
                <td><%= stat.H %></td>
                <td><%= stat.D %></td>
                <td><%= stat.T %></td>
                <td><%= stat.HR %></td>
                <td><%= stat.RBI %></td>
                <td><%= stat.BB %></td>
                <td><%= stat.K %></td>
                <td><%= stat.SB %></td>
                <td><%= stat.CS %></td>              
                <td><%= format_percentage_thousandths(stat.AVG) %></td>
                <td><%= format_percentage_thousandths(stat.OBP) %></td>
                <td><%= format_percentage_thousandths(stat.SLG) %></td>
              </tr>  
            <% end %>
            <% stat = Statistic.pitchers_as_hitters(@year, @franchise_id, 0) %>
            <% if stat.PA > 0 %>
              <tr>
                <td><%= 'All Pitchers' %></td>
                <td><%= stat.W + stat.L %></td>
                <td><%= stat.AB %></td>
                <td><%= stat.R %></td>
                <td><%= stat.H %></td>
                <td><%= stat.D %></td>
                <td><%= stat.T %></td>
                <td><%= stat.HR %></td>
                <td><%= stat.RBI %></td>
                <td><%= stat.BB %></td>
                <td><%= stat.K %></td>
                <td><%= stat.SB %></td>
                <td><%= stat.CS %></td>              
                <td><%= format_percentage_thousandths(stat.AVG) %></td>
                <td><%= format_percentage_thousandths(stat.OBP) %></td>
                <td><%= format_percentage_thousandths(stat.SLG) %></td>
              </tr>  
            <% end %>
            </tbody>
            <% stat = Statistic.hitting_totals(@year, @franchise_id, 0) %>
            <tfoot>
              <tr>
                <th><%= 'Totals' %></th>
                <th><%= stat.W + stat.L %></th>
                <th><%= stat.AB %></th>
                <th><%= stat.R %></th>
                <th><%= stat.H %></th>
                <th><%= stat.D %></th>
                <th><%= stat.T %></th>
                <th><%= stat.HR %></th>
                <th><%= stat.RBI %></th>
                <th><%= stat.BB %></th>
                <th><%= stat.K %></th>
                <th><%= stat.SB %></th>
                <th><%= stat.CS %></th>              
                <th><%= format_percentage_thousandths(stat.AVG) %></th>
                <th><%= format_percentage_thousandths(stat.OBP) %></th>
                <th><%= format_percentage_thousandths(stat.SLG) %></th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">Pitchers</div>
        <div class="table-responsive">
          <table class='table table-condensed tablesorter' id='pitching-stats'>
            <thead>
              <tr>
                <th class>Player</th>
                <th class>G</th>
                <th class>IP</th>
                <th class>R</th>
                <th class>H</th>
                <th class>ER</th>
                <th class>BB</th>
                <th class>SO</th>
                <th class>HBP</th>
                <th class>W</th>
                <th class>L</th>
                <th class>SV</th>
                <th class>HLD</th>
                <th class>BS</th>
                <th class>WHIP</th>
                <th class>ERA</th>
              </tr>
            </thead>
            <tbody>
            <% Statistic.pitchers(@year, @franchise_id, 0).each do |stat| %>
              <tr>
                <td><%= stat.player.name %></td>
                <td><%= stat.G %></td>
                <td><%= format_innings_pitched(stat.outs) %></td>
                <td><%= stat.RA %></td>
                <td><%= stat.HA %></td>
                <td><%= stat.ER %></td>
                <td><%= stat.BBA %></td>
                <td><%= stat.KA %></td>
                <td><%= stat.HB %></td>
                <td><%= stat.W %></td>
                <td><%= stat.L %></td>
                <td><%= stat.S %></td>
                <td><%= stat.HO %></td>
                <td><%= stat.BS %></td>               
                <td><%= format_percentage_hundredths(stat.WHIP) %></td>
                <td><%= format_percentage_hundredths(stat.ERA) %></td>
              </tr>  
            <% end %>
            </tbody>
            <% stat = Statistic.pitching_totals(@year, @franchise_id, 0) %>
            <tfoot>
              <tr>
                <th><%= 'Totals' %></th>
                <th><%= stat.W + stat.L %></th>
                <th><%= format_innings_pitched(stat.outs) %></th>
                <th><%= stat.RA %></th>
                <th><%= stat.HA %></th>
                <th><%= stat.ER %></th>
                <th><%= stat.BBA %></th>
                <th><%= stat.KA %></th>
                <th><%= stat.HB %></th>
                <th><%= stat.W %></th>
                <th><%= stat.L %></th>
                <th><%= stat.S %></th>
                <th><%= stat.HO %></th>
                <th><%= stat.BS %></th>               
                <th><%= format_percentage_hundredths(stat.WHIP) %></th>
                <th><%= format_percentage_hundredths(stat.ERA) %></th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>