<div class="page-header">
  <h1><%= @team.name %><small>&nbsp;&nbsp;&nbsp;<%= mail_to @owner.email, @owner.name, :encode => 'javascript' %></small></h1>
</div>

<div class="tabbable" id="team-tabs">
  <ul class="nav nav-tabs">
      <li class="active"><a href="#contracts" data-toggle="tab">Contracts</a></li>
      <li><a href="#picks" data-toggle="tab">Draft Picks</a></li>
      <li><a href="#statistics" data-toggle="tab">Current Statistics</a></li>
      <li><a href="#history" data-toggle="tab">Franchise History</a></li>
    </ul>
  <div class="tab-content">
      <div id="contracts" class="tab-pane active">
        <div class="row">
          <div class="col-md-12">
            <%= render 'contracts', locals: {year: @year, franchise_id: @franchise_id} %>
          </div>
        </div>
      </div>
      <div id="picks" class="tab-pane">
        <div class="row">
          <div class="col-md-12">
          <%= render 'picks', locals: {franchise_id: @franchise_id}%>
          </div>
        </div>
      </div>
      <div id="statistics" class="tab-pane">
        <div class="row">
          <div class="col-md-12">
            <%= render 'statistics', locals: {year: @year, franchise_id: @franchise_id} %>
          </div>
        </div>
      </div>
      <div id="history" class="tab-pane">
        <div class="row">
          <div class="col-md-12">
            <%= render 'history', locals: {franchise_id: @franchise_id} %>
          </div>
        </div>
      </div>
  </div><!-- /.tab-content -->
</div><!-- /.tabbable -->